[Unit]
Description=Generates synthetic traffic like AWS' VPC flow logs.

[Service]
ExecStart=/root/lab/bin/vpc-gen
Restart=always

[Install]
WantedBy=multi-user.target